/JavaApplication1/nbproject/private/
/DetectLanguage/nbproject/private/
/DetectLanguage/build/
/GetSentiment/nbproject/private/
/GetSentiment/build/
/GetKeyPhrases/nbproject/private/
/GetKeyPhrases/build/
/Main/nbproject/private/
/Main/dist/